@import url('null-styles.css');

.container {
    max-width: 1300px;
    margin: auto;
    text-align: center;
    background-color: lightblue;
    padding: 50px;
    border-radius: 50px;
}

.title {
    margin: 0 0 100px 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 235, 238);
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    padding: 15px 30px;
    background-color: rgb(119, 190, 213);
    border: none;
    border-radius: 15px;
    font-size: 25px;
    transition: background-color 0.1s;
}

button:hover {
    background-color: rgb(94, 179, 207);
}

button:active {
    background-color: rgb(75, 173, 205);
}

.designation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
}

.designation-list {
    display: flex;
    list-style-type: none;
}

.designation-list > li {
    height: 15px;
    width: 15px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 15px;
}

input {
    margin: 50px;
    padding: 10px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active {
    background-color: black;
}

.watch {
    margin: 50px 0 0 0;
}

/* slider styles */

.slider-container {
    display: flex;
    align-items: center;
}

.slider-button {
    font-size: 35px;
    user-select: none;
    cursor: pointer;
}

.slider-window {
    overflow: hidden;
    max-width: 1130px;
    min-width: 1130px;
}

.slider-block {
    display: flex;
    position: relative;
    right: 0;
    transition: right 0.5s;
}
